##########
# IGNORE #
#
##########
### Global Directories ###
bash_completion.d/
Desktop/
Documents/
Downloads/
Nextcloud/
Pictures/
Templates/
VirtualBox\ VMs/
snap/
.gvfs/
.thunderbird/
.travis/
.vagrant.d/
.gem/
.cpanm/
.dbus/
.forgit/
.joplin/
.local/
.mozilla/
.novaclient/
.pki/
.purple/
.gconf/
.gitnote/
.glanceclient/
.gnome/
.gnupg/
.thumbnails/
.cookiecutter_replay/
.android/
.ansible*
.bundle/
.cache/
.config/GitNote/
.config/Joplin/
.config/Mousepad/
.config/PBE/
.config/Pinta/
.config/QtProject.conf
.config/Sqlectron/
.config/Thunar/
.config/Transmission\ Remote\ GUI/
.config/Trolltech.conf
.config/Typora*
.config/VirtualBox/
.config/asciinema/
.config/atril/
.config/autostart/
.config/catfish/
.config/chromium/
.config/dconf/
.config/enchant/
.config/evolution/
.config/gtk-2.0/
.config/gtk-3.0/
.config/guix/
.config/htop/
.config/joplin-desktop/
.config/key-mon/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/mono.addins/
.config/mssqlcli/
.config/pavucontrol.ini
.config/pulse/
.config/remmina/
.config/ristretto/
.config/solaar/
.config/stow/
.config/terminator/
.config/transmission-remote-gtk/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vnote/
.config/xfce4/
.config/xubuntu/
.gradle/
.guix-profile
.ssh/


### Global files ###
.sudo_*
.sqsh_*
.usql_*
.wget-hsts
.viminfo
.vimrc_background
.python_history
.ICEauthority
.Xauthority
.Xdefaults
.dmrc
.lesshst
.openrc
.xscastrc
.xscreensaver
.xsession-*
.odbc.ini
.NERDTreeBookmarks
.bash_history

## Vim ###
# swap
.sw[a-p]
.*.sw[a-p]
# session
Session.vim
# temporary
.netrwhist
*~
# auto-generated tag files
tags

.config/vim/plugged/*
!.config/vim/plugged/.gitkeep

#########
# Allow #
# #######

# Track .local/opt/dotfiles-bootstrap
!.local
.local/*
!.local/opt
.local/opt/*
!.local/opt/dotfiles-bootstrap
